@{
    ViewData["Title"] = "Delete";
}
<div class="delete-logo">
    <img src="~/image/delete.png" class="delete-logo-size" />
</div>
<div class="ForgetPassword-border">
    <div class="message">
        <h4 style="color: red">Warning: You are about to fix your old phone.</h4>
    </div>
    <form method="post">
        <input type="submit" name="confirmation" value="yes" class="btn btn-danger" />
        <input type="submit" name="confirmation" value="no" class="btn btn-primary" />
    </form>
</div>
