@{
    ViewData["Title"] = "User's Log";
}
<div class="hiveuser">
    <h1>Login History</h1>
    <div class="hiveuser-border">
        <div class="hiveuser-content">
            <a href="#" class="content-items">All Date</a>
            <div class="search-border">
                <input class="search-input" type="text" placeholder="Type here...">
                <button class="search-button"><img src="~/image/search.png" class="search-logo" /></button>
            </div>
            <a asp-controller="Home" asp-action="HiveUserList"><img src="~/image/close.png" class="back-close-botton" /></a>
        </div>
        <div class="hiveuser-header-item">
            <h5>ID</h5>
            <h5>Name</h5>
            <h5>Date</h5>
        </div>
        <div class="hiveuser-message">
            <p>000011</p>
            <p>Martin Prince</p>
            <p>01-01-2023</p>
        </div>
    </div>
</div>