@{
    ViewData["Title"] = "Rental Services";
}
<div>
    <div class="side-nav">
        <div class="user">
            <a href="@Url.Action("Profile", "System")">
                <img src="~/image/user.png" class="user-img" />
            </a>
            <div class="text-name">
                <h2>John Doe</h2>
                <p>user@gmail.com</p>
            </div>
        </div>
        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/image/dashboard.png" /><a asp-controller="Home" asp-action="Index" class="menu-text">Dashboard</a></li>
            <li class="menu-item"><img class="menu-icon" src="~/image/file.png" /><a asp-controller="Home" asp-action="Index" class="menu-text">Reports</a></li>
            <li class="menu-item"><img class="menu-icon" src="~/image/group.png" /><a asp-controller="Home" asp-action="HiveUserVerification" class="menu-text">Users</a></li>
            <li class="menu-item-active"><img class="menu-icon" src="~/image/rent.png" /><a asp-controller="Home" asp-action="RentalServices" class="menu-text">Rental Servies</a></li>
        </ul>
        <ul class="menu-list">
            <li class="menu-item"><img class="menu-icon" src="~/image/logout.png" /><a asp-controller="Home" asp-action="Login" class="menu-text">Logout</a></li>
        </ul>
    </div>
    <div>
        <button class="notification-button" onclick="location.href='@Url.Action("Notification","System")'"><img class="notification-icon" src="~/image/bell.png"></button>
    </div>
</div>
<div class="hiveuser">
    <div class="hiveuser-items">
        <a asp-controller="Home" asp-action="RentalServices" class="item-notactive">Pending Services</a>
        <a asp-controller="Home" asp-action="RentalProcessServices" class="item-active">Process Services</a>
    </div>
    <div class="hiveuser-border">
        <div class="hiveuser-content">
            <a href="" class="content-items">All User</a>
            <a href="" class="content-items">Item</a>
            <a href="" class="content-items">Living Spaces</a>
            <a href="" class="content-items">Storage Unit</a>
            <div class="search-border">
                <input class="search-input" type="text" placeholder="Type here...">
                <button class="search-button"><img src="~/image/search.png" class="search-logo" /></button>
            </div>
        </div>
        <div class="hiveuser-header-item">
            <h5>Type</h5>
            <h5>ID</h5>
            <h5>Name</h5>
            <h5>Start</h5>
            <h5>End</h5>
            <h5>Status</h5>
            <h5>Action</h5>
        </div>
        <div class="hiveuser-message">
            <p>Storage Unit</p>
            <p>001234</p>
            <p>Johnny Bravo</p>
            <p>00-00-00</p>
            <p>00-00-00</p>
            <p>Completed</p>
            <p>
                <a href="#popup" class="popup-button">
                    <img src="~/image/more.png" class="more-logo" />
                </a>
            </p>
            <div id="popup" class="action-button">
                <div class="action-content">
                    <div class="popup-header">
                        <h5>Action</h5>
                        <a href="#"><img src="~/image/close.png" class="popup-close" /></a>
                    </div>
                    <p class="action-item">
                        <a href="#">Delete Product</a> @*just switch this to button and its hover*@
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



