@{
    ViewData["Title"] = "RentHive User Identity";
}
<div class="CenterLogo">
    <img src="~/image/logo_name.png" class="logo" />
</div>
<div class="ForgetPassword-border">
    <div class="message">
        <h2>Forgot Password</h2>
    </div>
    <div class="ForgetForm">
        <div class="CenterTextbox">
            <input class="InputTextbox" placeholder="Username" />
        </div>
    </div>
    <div>
        <p class="p_button">Back to <a class="a_button" asp-controller="Account" asp-action="Login">Login</a></p>
    </div>
    <div>
        <a class="myButton" asp-controller="Account" asp-action="ForgetPassword_EnterCode">Next</a>
    </div>
</div>