@{
    ViewData["Title"] = "Enter Code";
}
<div class="CenterLogo">
    <img src="~/image/logo_name.png" class="logo" />
</div>
<div class="ForgetPassword-border">
    <div class="message">
        <h4 style="color: green">A code has sent to you email.</h4>
        <h6>Note: If this does not appear in your primary message, please check your spam folder.</h6>
    </div>
    <div class="ForgetForm">
        <div class="CenterTextbox">
            <input class="InputTextbox" placeholder="Enter code" />
        </div>
    </div>
    <div>
        <a class="myButton" asp-controller="Account" asp-action="ForgetPassword_Reset">Submit</a>
    </div>
</div>